{% block content %}

    <div class="card" id='nodeCard'>
        <div class="card-header bg-primary text-white">
            <h5>Class <span class="badge badge-light" id="nodeClass">Node Class</span></h5>
            <h5>Function <span class="badge badge-light" id="nodeFunction">Node Function</span></h5>
        </div>
        <!-- Node Content -->   
        <div class="card-footer bg-transparent ex3">
         <table class="table" id ="functionKpiTable">
         </table>
        </div>
     </div>

     {% endblock content %}
